<div class="container">
    <div class="row mt-2">
        <div class="col-md-4 mb-3 sm-2" *ngFor="let display of Getblog">
            <h2 class="text-center">{{display.username}}</h2>
            <div class="card text-center">
                <img src={{display.url}} alt="img">
                <div class="intro">
                    <p class="card-text">{{display.title}}</p>
                    <p class="card-text">{{display.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>